<head>
  <meta charset="utf-8" />
  <!-- Variables are expressed with a '@@' symbol -->
  <title>@@title</title>
  <meta name="description" content="@@description" />
  <meta name="author" content="@@author">

  <link rel="stylesheet" type="text/css" href="main.css" />


  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
