<!-- Warning: all these jQuery plugins (including this version of jQuery) are as old as dirt. What do they do? Are they neccessary? We need to look into this.-->
<script type="text/javascript" src="javascripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="javascripts/html5shiv.js"></script>
<script type="text/javascript" src="javascripts/jquery.tipsy.js"></script>
<script type="text/javascript" src="javascripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="javascripts/fancybox/jquery.easing-1.3.pack.js"></script>
<script type="text/javascript" src="javascripts/jquery.mobilemenu.js"></script>
<script type="text/javascript" src="javascripts/jquery.infieldlabel.js"></script>
<script type="text/javascript" src="javascripts/jquery.twitter.js"></script>
<script type="text/javascript" src="javascripts/jquery.quicksand.js"></script>
<script type="text/javascript" src="javascripts/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="javascripts/advocate.js"></script>
